<h1>Results</h1>
<table class='table table-borderless'>
  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><img src='<%=asset['logo_url'] %>' style='width:25px'></td>
        <td><%= link_to asset['name'], "/assets/asset?name=#{asset['currency']}" %></td>
        <% if current_user.has_asset?(asset['currency']) %>
          <td>Added!</td>
        <% else %>
          <td><%= link_to 'Add', "/myassets?symbol=#{asset['symbol']}", class: 'btn green', method: :post %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
