/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

// input[type=submit] {
//   width: 100%;
//   background-color: #17BEBB;
//   color: white;
//   padding: 14px 20px;
//   margin: 8px 0;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
// }

// input[type=submit]:hover {
//   background-color: #45a049;
// }

// form {
//   align-content: center;
//   background-color: #f2f2f2;
//   padding: 20px;
//   width: 60%;
// }

.holdings-value {
  font-size: 40px;
  text-align: right;

}

.portfolio-list {
  margin-top: 20px;
  margin-bottom: 20px;
}

 form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
 form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.jumbotron {
  background: #6395F2;
}

.btn {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 22px;
  text-decoration: none;
  margin: 5px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
  background-color: #6FC6FF;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
  background-color: #48E68B;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
  background-color: #FF6656;
}

.purple {
  background-color: #9b59b6;
  box-shadow: 0px 5px 0px 0px #82409D;
}

.purple:hover {
  background-color: #B573D0;
}

.orange {
  background-color: #e67e22;
  box-shadow: 0px 5px 0px 0px #CD6509;
}

.orange:hover {
  background-color: #FF983C;
}

.yellow {
  background-color: #f1c40f;
  box-shadow: 0px 5px 0px 0px #D8AB00;
}

.yellow:hover {
  background-color: #FFDE29;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #DEE9FC;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.nav-color {
  background: #091534;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

.fa {
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 45px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  text-decoration: none;
}

.fa-reddit::before {
  color: #FF4500;
  text-decoration: none;
}

.fa-reddit:hover {
  color: #b33000;
}

.fa-github:hover {
  color: #4d4d4d;
}

.fa-telegram:hover {
  color: #005580;
}

.fa-github::before {
  color: #000;
  text-decoration: none;
}

.fa-telegram::before {
  color: #0088cc;
  text-decoration: none;
}

// nav {
//   float: right;
// }

.uashow-price-data {
  font-size: 35px;
  margin-bottom: 5px;
}

.uashow-label {
  margin-bottom: 1px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #678FFE;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav .pagination li {
  margin-left: 0px;
  padding-top: 0px;
}

nav .pagination {

}

nav a:hover {
  color: #DBE5FF;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #678FFE;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

a:hover {
  text-decoration: none;
  color: #091534;
}


#add-form {
  position: relative;
  text-align: center;
}

#show-price {
  font-size: 25px;
}

#add-form-btn {
  height: 25px;
  position: relative;
  text-align: center;
}

#total-holdings {
  font-size: 45px;
}

#percent-change {
  text-align: right;
  font-size: 20px;
}

#home {
  background-color: #DEE9FC;
  text-align: center;
}

#welcome {
  font-size: 70px;
}

.pagination-nav {
  text-align: center;
}

.pagination-nav nav {
  display: inline-block;
}

.external-links {
  text-align: center;
}
